.contenedor-flex{
    display: flex;
   /* justify-content: space-around; Horizontal*/
   /* align-items: flex-start; /*vertical*/
   /* flex-direction: column-reverse;*/
    border: solid #adff2f 5px;
    height: 1000px;
    

    
}

.ejemplo{
    border: solid violet 5px;
    text-align: center;
    width: 33%;
    

}

.ejemplo:nth-child(1){
    background-color: yellow;
    order: 2;

}

.ejemplo:nth-child(2){

    background-color: red;
    order: 3;


}

.ejemplo:nth-child(3){
    background-color: blue;
    order: 1;
}








